In [1]:
import pandas as pd
import matplotlib as mpl
import matplotlib.pylab as plt

In [2]:
pwd

'/Users/ijinha/Desktop/수업자료/빅데이터'

In [3]:
file_path = './data/exam_sample_cor.csv'

In [7]:
df= pd.read_csv(file_path)
df

   student_no class  science  english  math sex
0           1     A       92       98    97   m
1           2     A       62       66    65   w
2           3     A       81       86    84   w
3           4     A       73       72    71   m
4           5     B       65       66    69   w
5           6     B       86       89    87   m
6           7     B       91       90    92   m
7           8     B       77       78    76   w
8           9     C       95       98    99   w
9          10     C       83       82    85   w

In [8]:
#성별에 따른 수학점수 평균
df['math'].groupby(df['sex']).mean()
#차이는 약 7점

sex
m    86.750000
w    79.666667
Name: math, dtype: float64

In [10]:
sexgroup = df.groupby(df['sex'])
print(sexgroup.groups)

{'m': Int64Index([0, 3, 5, 6], dtype='int64'), 'w': Int64Index([1, 2, 4, 7, 8, 9], dtype='int64')}

In [18]:
male = sexgroup.get_group('m')
female = sexgroup.get_group('w')
male_subset = male[['sex','math']]
female_subset = female[['sex','math']]
print(male_subset)
print(female_subset)

  sex  math
0   m    97
3   m    71
5   m    87
6   m    92
  sex  math
1   w    65
2   w    84
4   w    69
7   w    76
8   w    99
9   w    85

In [19]:
from scipy import stats
tTestResult = stats.ttest_ind(male_subset['math'],female_subset['math'])
print(tTestResult)

Ttest_indResult(statistic=0.9176128032073738, pvalue=0.3856500388061398)

In [20]:
tTestResultDiffVar = tTestResult = stats.ttest_ind(male_subset['math'],female_subset['math'],equal_var = False)
print(tTestResultDiffVar)

Ttest_indResult(statistic=0.9367848703709967, pvalue=0.3799319389733758)

두 결과 모두 pvalue가 0.05이상이므로 유의미한 차이는 없다. 등분산성을 이용하지 않는 ttest결과의 pvalue가 더 높게 나왔다. 이는 더 무의미하다는 것을 의미한다.
그리고 tTest에서 두 집단 이상을 비교하려면 등분산성을 이용해야 하므로 equal_var = False로 해줘야 한다.